*{
    padding: 0;
    margin: 0;
    
}




    nav{
        max-width:80% ;
        padding-left:10%;
        display: flex;
        flex-direction: row;
        list-style-type: none;
     
      
    }

                nav > img {
                    height:146px;
                    width: 203px;
                
                }

                nav > li{
                    text-align: center;
                    box-shadow: none;
                    max-width: 100%;
                    padding-top:2em;
                    margin: 3rem;
                    font-family: 'Roboto Flex', sans-serif;
                    font-weight: bold;

                }


            nav a {
                text-decoration: none;
                color: black;
            
            }



            main{
                display: grid;
                font-family: 'Roboto Flex', sans-serif;
                
               

            }

                main img {
                    max-width: 95vw;
                    border-radius: 30px;
               
                


                }

                .heroBanner{

                    display: flex;
                    justify-self: center;
                    
                }

                .Title{
                    font-family: 'Roboto Flex', sans-serif;
                    font-size: 1.5em;
                    padding-left: 10%;
                    margin-top: 3rem;
                }

                .article{
                    display: grid;
                    grid-template-columns: auto;
                    justify-content: center;
                    flex-direction: row;
                    padding-top: 4.5rem;
                    gap: 3rem;
                    margin:5rem;
                    
                    
                }
                                        .article1{
                                            border-radius: 30px;
                                            box-shadow: -2px 1px 112px -29px rgba(189,188,188,0.65);
                                            
                                            
                                          
                                        }
               