*{
    padding: 0;
    margin: 0;
    
}


    nav{
        max-width:80% ;
        padding-left:10%;
        display: flex;
        flex-direction: row;
        list-style-type: none;
     
      
    }

                nav > img {
                    height:146px;
                    width: 203px;
                
                }

                nav > li{
                    text-align: center;
                    box-shadow: none;
                    max-width: 100%;
                    padding-top:2em;
                    margin: 3rem;
                    font-family: 'Roboto Flex', sans-serif;
                    font-weight: bold;

                }


            nav a {
                text-decoration: none;
                color: black;
            
            }



            main{
                display: flex;
                font-family: 'Roboto Flex', sans-serif;
                grid-template-rows: 0.8fr 2rem 1fr;
                max-width:95%;
                
               

            }

                main img {
                  
                    border-radius: 30px;
               
                


                }

                .heroBanner{

                    display: flex;
                    justify-content: center;
                    max-height: 25em;
                    max-width: 50%;
                    padding-left: 18em;
                    
                }

                .Title{
                    font-family: 'Roboto Flex', sans-serif;
                    font-size: 1.5em;
                    padding-left: 10%;
                    margin-top: 3rem;
                }

                .article{
                    display:grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    max-width: fit-content;
                    row-gap: 3rem;
                    

                    
                    
                }

                                        .article1{
                                            border-radius: 30px;
                                            box-shadow: -2px 1px 112px -29px rgba(189,188,188,0.65);
                                            padding: 3rem;
                                            
                                          
                                        }

                                        .article2{
                                            border-radius: 30px;
                                            box-shadow: -2px 1px 112px -29px rgba(189,188,188,0.65);
                                            padding: 3rem;
                                            
                                          
                                        }

                                        .article3{
                                            border-radius: 30px;
                                            box-shadow: -2px 1px 112px -29px rgba(189,188,188,0.65);
                                            padding: 3rem;
                                            
                                          
                                        }
                                        .article4{
                                            border-radius: 30px;
                                            box-shadow: -2px 1px 112px -29px rgba(189,188,188,0.65);
                                            padding: 3rem;
                                            
                                          
                                        }

                                        .article5{
                                            border-radius: 30px;
                                            box-shadow: -2px 1px 112px -29px rgba(189,188,188,0.65);
                                            padding: 3rem;
                                            
                                          
                                        }

                                        .article6{
                                            border-radius: 30px;
                                            box-shadow: -2px 1px 112px -29px rgba(189,188,188,0.65);
                                            padding: 3rem;
                                            
                                          
                                        }

                                    